name: Compiling and Releasing the PDFs

on:
  push:
    tags:
      - '*'

jobs:
  compile_and_release:
    container:
        image: ghcr.io/munuchapterhkn/eta-kappa-notes/texlive:latest
    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Scarica il repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Compila Documenti LaTeX (.tex)
        env:
            EKN_ROOT_DIR: ${{ github.workspace }}
        run: |
            for notes in $(find . -type f -name metadata.yaml -exec grep -lZ -E "^status:[[:space:]]*'release'[[:space:]]*$" {} + \
            | xargs -0 -n1 dirname \
            | xargs -n1 basename \
            | sort -u); do
                make notes $notes;
            done;

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: notes-pdf
          path: |
            build
            
      # STEP: Upload PDF nella Release GitHub
      - name: Upload PDF come Asset di Release
        uses: softprops/action-gh-release@v1
        with:
          files: build/*.pdf
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}